.nav_header .nav_menu a:nth-child(5){
    border: thin solid var(--color-blue-dark);
}

.content{
    background: url('../img/contact_fond.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.content .black-back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}