@font-face {
    font-family: "Poppins";
    src: url("../font/Poppins/Poppins-Medium.ttf");
}

:root{
    --color-blue-cyan: #00ffff;
    --color-blue-dark: #0015ff;
}

*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
    box-sizing: border-box;
}

.nav_header{
    z-index: 1099;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    background: linear-gradient(to right, #fff 25%, var(--color-blue-cyan));
}

.nav_header img{
    height: 80px;
}

.nav_header .logo_nom{
    width: 100%;
    display: flex;
    align-self: center;
    padding:0 5%;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

.nav_header .logo_nom div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_header .nav_menu{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;

}

.nav_header .nav_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.nav_header .nav_buttons a,
.nav_header .nav_buttons input[type=submit]{
    box-shadow: 1px 1px 3px blue;
    margin-left: 5px;
}

.nav_header .nav_menu a,
.nav_header .nav_buttons a,
.nav_header .nav_buttons input[type=submit]{
    text-decoration: none;
    color: #000;
    padding: 7px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.nav_header .nav_buttons input[type=submit]{
    background: transparent;
    border: none;
}

.nav_header .nav_menu a:hover,
.nav_header .nav_buttons a:hover,
.nav_header .nav_buttons input[type=submit]:hover{
    background: linear-gradient(var(--color-blue-dark) 0%, var(--color-blue-cyan) 100%)!important;
    color: #fff;
}

.milieu{
    height: 100%;
    padding-top: 138px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}


.vertical,
.content{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.vertical{
    width: 100%;
    max-width: 250px;
    min-height: 100%;
    padding-top: 25px;

}

.vertical img{
    margin: 20px 0;
    width: 40px;
}

.content{
    min-height: 61.7vh;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border: thin solid cyan;
}

.content img{
    height: 250px;
    width: 250px;
}

footer{
    min-height: 19vh;
    font-size: 13px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to right, #fff 25%, var(--color-blue-cyan));
}

.legales,
.legales div,
.copyright{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

@media screen and (max-width: 685px){
    .nav_header div{
        width: 100%;
        margin-top: 5px;
    }
    .milieu{
        padding-top: 230px;
        flex-direction: column;
        justify-content: center;
    }
    .content{
        border-top: thin solid aqua!important;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
    }
}

@media screen and (max-width: 375px){
    .milieu{
        padding-top: 310px;
    }

    footer{
        min-height: 5vh;
        display: flex;
        flex-direction: column-reverse;
    }

}

@media screen and (max-width: 352px){
    .milieu{
        padding-top: 330px;
    }
}